$('div#<%= dom_id(@project) %>').empty();
$('div#<%= dom_id(@project) %>').append("<h3>Edit Task</h3>");
$('div#<%= dom_id(@project) %>').append('<%= j(render(partial: "form", locals:{project: @project})) %>');